python-dotenv
langchain-groq
langchain-core
langchain
fastapi
uvicorn
langchain-community
pymongo
langchain-huggingface
sentence-transformers
faiss-cpu
motor
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart